/* Page background */
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* Centered white panel */
.page-wrapper {
  padding: 30px 0;
}

.content-card {
  max-width: 650px;
  margin: 0 auto 40px auto;
  background-color: white;
  border-radius: 30px;
  padding: 40px 45px 60px 45px;
  box-sizing: border-box;
}

/* Headings */
.page-header h1 {
  font-family: "Impact", "Arial Black", sans-serif;
  font-size: 120px;
  line-height: 1;
  text-align: center;
  color: green;
  margin: 0 0 10px 0;
}

.subtitle {
  font-family: "Impact", "Arial Black", sans-serif;
  font-size: 56px;
  text-align: center;
  color: green;
  margin: 0 0 35px 0;
}

.section-heading {
  font-family: "Impact", "Arial Black", sans-serif;
  font-size: 64px;
  text-align: center;
  color: green;
  margin: 50px 0 25px 0;
}

/* Text paragraphs */
.text-block p {
  font-size: 18px;
  line-height: 1.5;
  margin: 0 0 18px 0;
}

/* Green "Did you know?" box */
.fact-box {
  background-color: green;
  border-radius: 40px;
  padding: 30px 40px 35px 40px;
  margin: 40px 0;
  color: white;
}

.fact-box h3 {
  font-family: "Impact", "Arial Black", sans-serif;
  font-size: 48px;
  margin: 0 0 20px 0;
}

.fact-box p {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}
